* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 5% 10% 0 10%;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 40%;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  margin: 2rem 0;
  background-color: #0f52ba;
  border-radius: 1rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

nav li {
  list-style: none;
  display: inline-block;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0;
}

section {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

article {
  background-color: #c0c0c0;
  padding: 2rem;
  border-radius: 1rem;
}

article h1,
article h2 {
  padding-bottom: 1rem;
}

article h1 ~ div {
  display: flex;
  gap: 2rem;
}

article h2 ~ div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

article img {
  width: 50%;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.img-full {
  width: 300px;
  height: 200px;
  max-width: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

footer div {
  width: 50%;
}

footer img {
  width: 50%;
}

footer div:last-child {
  display: flex;
  justify-content: flex-end;
}
